In [1]:
%matplotlib inline
import os
import re
import numpy as np
import pandas as pd
import matplotlib as mpl
from matplotlib import pyplot as plt
#import seaborn as sns
import pyGadget
mpl.rc('font', size=20.)
mpl.rc('font', family='serif')
mpl.rc('text', usetex=True)

In [2]:
sim = pyGadget.sim.Simulation('stampede/halo2_vanilla',length='pc', coordinates='physical')

In [3]:
snap0 = sim.load_snapshot(147)
snap1 = sim.load_snapshot(775)
snap2 = sim.load_snapshot(776)
snap3 = sim.load_snapshot(1217)

In [4]:
snap1.header.Redshift, snap2.header.Redshift

(21.726278584247147, 21.726276987480055)

In [5]:
for snap in [snap1,snap2, snap0, snap3]:
    snap.gas.load_coords()
    snap.gas.load_masses()
    snap.gas.load_number_density()
    snap.gas.load_PIDs()
    snap.gas.load_sinks()
del snap

In [6]:
snap1.gas.describe()

,x,y,z,masses,ndensity,particleIDs,sink_value
count,11036289.000000,11036289.000000,11036289.000000,11036289.000000,1.103629e+07,11036289.000000,1.103629e+07
mean,313.028996,333.130269,335.952626,0.023160,3.477808e+06,5654781.240131,7.248813e-07
std,86.636074,89.888507,71.879068,0.070155,6.768935e+08,3192665.207022,1.204061e-03
min,0.022989,0.003951,0.000831,0.014425,3.685785e-04,1.000000,0.000000e+00
25%,250.293640,292.346892,292.788662,0.014425,1.442936e-01,2898898.000000,0.000000e+00
50%,320.928052,325.532976,330.396144,0.014425,4.535246e-01,5657970.000000,0.000000e+00
75%,368.196255,402.027551,380.997354,0.014425,1.499352e+00,8417042.000000,0.000000e+00
max,628.587717,628.595466,628.591192,19.271246,1.000000e+12,11178616.000000,2.000000e+00

In [7]:
snap2.gas.describe()

,x,y,z,masses,ndensity,particleIDs,sink_value
count,11036285.000000,11036285.000000,11036285.000000,11036285.000000,1.103628e+07,11036285.000000,1.103628e+07
mean,313.029093,333.130258,335.952738,0.023160,3.357147e+06,5654779.939432,5.436612e-07
std,86.636064,89.888509,71.879058,0.070148,6.022182e+08,3192665.054537,1.042747e-03
min,0.023026,0.003950,0.000844,0.014425,3.685783e-04,1.000000,0.000000e+00
25%,250.293786,292.346863,292.788768,0.014425,1.442932e-01,2898897.000000,0.000000e+00
50%,320.928126,325.532978,330.396265,0.014425,4.535248e-01,5657968.000000,0.000000e+00
75%,368.196357,402.027539,380.997501,0.014425,1.499351e+00,8417039.000000,0.000000e+00
max,628.587776,628.595509,628.591398,19.271246,1.000000e+12,11178616.000000,2.000000e+00

In [8]:
gb1 = snap1.gas.groupby(snap1.gas.masses)

In [9]:
gb1.mean()

,x,y,z,ndensity,particleIDs,sink_value
masses,,,,,,
0.014425,313.279232,333.107926,336.120870,3.253238e+06,5863259,0
0.115397,310.481677,331.927819,332.415079,1.333362e-01,1064472,0
0.923173,286.591525,345.056438,330.384900,1.599400e-01,137380,0
3.389777,322.027692,309.805256,322.656192,1.000000e+12,9249527,2
5.466918,322.032732,309.813554,322.646752,1.000000e+12,1486403,2
19.083726,322.027545,309.804928,322.656848,1.000000e+12,9306198,2
19.271246,322.033298,309.814346,322.646729,1.000000e+12,9247410,2

In [10]:
gb2 = snap2.gas.groupby(snap2.gas.masses)

In [11]:
gb2.mean()

,x,y,z,ndensity,particleIDs,sink_value
masses,,,,,,
0.014425,313.279329,333.107913,336.120981,3.221857e+06,5863258,0
0.115397,310.481782,331.927798,332.415183,1.333361e-01,1064472,0
0.923173,286.591630,345.056419,330.385001,1.599398e-01,137380,0
5.466918,322.032804,309.813510,322.646934,1.000000e+12,1486403,2
19.083726,322.027665,309.804959,322.657004,1.000000e+12,9306198,2
19.271246,322.033355,309.814321,322.646748,1.000000e+12,9247410,2

In [12]:
sinks1 = snap1.gas[snap1.gas.sink_value > 0]
sinks2 = snap2.gas[snap2.gas.sink_value > 0]
bigM1 = snap1.gas[snap1.gas.masses > 1]
bigM2 = snap2.gas[snap2.gas.masses > 1]

In [13]:
sinks1

,x,y,z,masses,ndensity,particleIDs,sink_value
9249527,322.027692,309.805256,322.656192,3.389777,1.000000e+12,9249527,2
9306198,322.027545,309.804928,322.656848,19.083726,1.000000e+12,9306198,2
9247410,322.033298,309.814346,322.646729,19.271246,1.000000e+12,9247410,2
1486403,322.032732,309.813554,322.646752,5.466918,1.000000e+12,1486403,2

In [14]:
bigM1

,x,y,z,masses,ndensity,particleIDs,sink_value
9249527,322.027692,309.805256,322.656192,3.389777,1.000000e+12,9249527,2
9306198,322.027545,309.804928,322.656848,19.083726,1.000000e+12,9306198,2
9247410,322.033298,309.814346,322.646729,19.271246,1.000000e+12,9247410,2
1486403,322.032732,309.813554,322.646752,5.466918,1.000000e+12,1486403,2

In [15]:
sinks2

,x,y,z,masses,ndensity,particleIDs,sink_value
9306198,322.027665,309.804959,322.657004,19.083726,1.000000e+12,9306198,2
9247410,322.033355,309.814321,322.646748,19.271246,1.000000e+12,9247410,2
1486403,322.032804,309.813510,322.646934,5.466918,1.000000e+12,1486403,2

In [16]:
bigM2

,x,y,z,masses,ndensity,particleIDs,sink_value
9306198,322.027665,309.804959,322.657004,19.083726,1.000000e+12,9306198,2
9247410,322.033355,309.814321,322.646748,19.271246,1.000000e+12,9247410,2
1486403,322.032804,309.813510,322.646934,5.466918,1.000000e+12,1486403,2

In [17]:
sinks1[-sinks1.particleIDs.isin(sinks2.particleIDs)]

,x,y,z,masses,ndensity,particleIDs,sink_value
9249527,322.027692,309.805256,322.656192,3.389777,1.000000e+12,9249527,2

In [18]:
df1 = snap1.gas
df2 = snap2.gas

###These are the particles that disappear between snapshot 775 and snapshot 776:

In [19]:
lost = df1[-df1.particleIDs.isin(df2.particleIDs)]
lost

,x,y,z,masses,ndensity,particleIDs,sink_value
9251865,322.027924,309.805607,322.656130,0.014425,4.787180e+10,9251865,0
9203127,322.027919,309.805598,322.656138,0.014425,4.313094e+10,9203127,0
9249527,322.027692,309.805256,322.656192,3.389777,1.000000e+12,9249527,2
9269488,322.027824,309.805701,322.656186,0.014425,2.776685e+10,9269488,0

In [20]:
hires = snap1.gas[snap1.gas.ndensity > 1e10]

In [21]:
df1.masses.sum()

255604.5700584583

In [22]:
df2.masses.sum()

255601.1370072192

In [23]:
lost.masses.sum()

3.4330512391211876

In [24]:
df1.masses.sum() - df2.masses.sum()

3.4330512391170487

In [25]:
snap0.gas.masses.sum()

255604.57005874146

In [26]:
snap3.gas.masses.sum()

255601.13700721858

In [27]:
snap0.gas.masses.sum() - snap1.gas.masses.sum()

2.831511665135622e-07

In [28]:
snap0.gas.masses.sum() - snap2.gas.masses.sum()

3.433051522268215

In [29]:
snap0.gas.masses.sum() - snap3.gas.masses.sum()

3.4330515228793956

In [31]:
snap2.gas.masses.sum() - snap3.gas.masses.sum()

6.111804395914078e-10

In [33]:
sinks1.masses - sinks2.masses

1486403     0
9247410     0
9249527   NaN
9306198     0
Name: masses, dtype: float64

In [38]:
sinks1.ix[9249527].masses

3.3897774840062147

In [42]:
(lost.masses.sum() - sinks1.ix[9249527].masses)/lost.masses.min()

2.9999999999999956

In [43]:
lost

,x,y,z,masses,ndensity,particleIDs,sink_value
9251865,322.027924,309.805607,322.656130,0.014425,4.787180e+10,9251865,0
9203127,322.027919,309.805598,322.656138,0.014425,4.313094e+10,9203127,0
9249527,322.027692,309.805256,322.656192,3.389777,1.000000e+12,9249527,2
9269488,322.027824,309.805701,322.656186,0.014425,2.776685e+10,9269488,0

In [44]:
snap1.header.ScaleFactor

0.044001924745090286